<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Andromeda Studios Fotos{% endblock %}</title>
    <!-- En tu plantilla HTML -->
    <!-- Enlaces a archivos estáticos utilizando la sintaxis de Django -->
    <link rel="icon" href="{% static 'fotos/img/pinia.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'fotos/css/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block css %}
    {% endblock %}
</head>

<body>
    <!--Navbar-->
    <nav class="navbar">
        <div class="navbar-brand">
            <div class="logo">
                <img src="{% static 'fotos/img/pinia.png' %}" alt="Logo de Andromeda Studios" />
            </div>
            <div class="hamburger-menu">
                <div class="hamburger-icon" onclick="toggleMenu()">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <!-- Nombre en el centro -->
            <span class="brand-name">Andromeda Studios | Photos </span>
            <div class="cart-icon">
                <!-- Puedes agregar aquí el código de tu icono de carrito, por ejemplo, una etiqueta <i> con una clase de icono -->
                <button class="cart" id="dialogTrigger">
                    <!-- <button class="cart" id="dialogTrigger" onclick="toggleCarrito()"></button> -->
                    {% if articulosf %}
                    <span class="btn__count">{{articulosf}}</span>
                    {% else %}
                    <span class="btn__count">0</span>
                    {% endif %}
                    <span class="carrito-text" id="cartText">Carrito</span>
                    <img src="{% static 'fotos/icons/shopping-cart.png' %}" class="carrito-icon" id="cartIcon" />
                </button>
                <dialog id="dialog">
                    <table>
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if carrito and carrito|length %}
                            {% for key, value in carrito.items %}
                            {% comment %} si funciona, usa este es mas ordenado 
                            {% for key, value in carrito.items %}
                             {% endcomment %}

                        
                            <tr>
                                <td>{{value.nombre}}</td>
                                <td>{{value.cantidad}}</td>
                                <td>
                                    <a href="{% url 'fotos:Add' value.producto_id %}" class="action">+</a>
                                    <a href="{% url 'fotos:Sub' value.producto_id %}" class="action">-</a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr style="background-color:#FF4F54;color:white;">
                                    <td>
                                        <div> Sin Productos </div>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if articulosf %}
                            <tr>
                                <th>Total:</th>
                                <td>$ {{totalf}}</td>
                            </tr>
                            <tr>
                                <td><a href="{% url 'fotos:CLS' %}" class="">Limpiar</a></td>
                                <td><a href="{% url 'fotos:check' %}" class="">Ir a pagar</a></td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <!-- si le quitas el form, deja de funcionar el boton -->
                    <!-- <form method="dialog">
            <button class="btn--small" onclick="hideDialog()">Close</button>
          </form>
          <button class="btn--small">Ir a pagar</button> -->
                </dialog>
            </div>
        </div>
        <div class="menu" id="menu">
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Bienvenido {{ user.username }} <br> Cerrar sesión</a></li>
                {% else %}
                        <li><a href="{% url 'login:registro' %}">Crear Cuenta</a></li>
                        <li><a href="{% url 'login' %}" style="text-decoration: none">Ingresar</a></li>
                {% endif %}
                <li><a href="{% url 'fotos:home' %}">Inicio</a></li>
                <li><a href="{% url 'fotos:catalog' %}">Catalogo</a></li>
                <li><a href="{% url 'home:home' %}">Pagina principal</a></li>
            </ul>
        </div>
    </nav>
    <!--Fin navbar-->
    {% block content %}
    {% endblock %}
    <!--FOOTER-->
    <br />
    <div class="segmento4">
        <footer class="footer">
            <div class="top_footer">
                <div class="line"></div>
                <div class="social_medias">
                    

                    
                    <a href="homef.html"><img src="{% static 'fotos/icons/twitter.svg' %}" alt="" /></a>
                    <a href="homef.html"><img src="{% static 'fotos/icons/facebook.svg' %}" alt="" /></a>
                    <a href="homef.html"><img src="{% static 'fotos/icons/instagram.svg' %}" alt="" /></a>
                </div>
                <div class="line"></div>
            </div>
            <div class="middle_footer">
                <p class="title" style="font-size: 1em; font-weight: 900; color: rgb(112, 112, 112);">
                    Andromeda Studios <br />
                    Servicios de fotografia y eventos
                </p>
                <p class="copyright" style="font-size: 1em; font-weight: 900; color: rgb(112, 112, 112);">
                    Copyright <span>&copy</span> 2021 HubSpot, Inc
                </p>
            </div>
            <div class="bottom_footer">
                <a class="footer_link">Informacion Legal</a>
                <div class="footer_horizontal_separator">|</div>
                <a class="footer_link">Politica de Privacidad</a>
            </div>
        </footer>
    </div>
    </div>
    <!--FIN FOOTER-->
    <script src="{% static 'fotos/js/main.js' %}"></script>
</body>

</html>