{% extends 'base.html' %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'Calas/css/catalogo.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Calas/css/nav.css' %}">
{% endblock %}
{% block title %}
CreAlas | Catálogo
{% endblock %}
{% block content %}
<h1>Nuestros productos</h1>
<!-- Filtro -->
<div class="filtro">
    <label for="categorias">Buscar una categoría:</label>
    <input list="categorias" id="categoriaInput" name="categoria" placeholder="Buscar categoria">
    <datalist id="categorias">
        {% for categoria in categorias %}
        <option value="{{ categoria.categoria }}">
            {% endfor %}
    </datalist>
    <button id="buscarBtn">BUSCAR</button>
</div>
<hr>
<br><br>
<!--Fin Filtro-->
<div class="grid" id="cartasContainer">
    {% for producto in productos %}
    <div class="items {{ producto.categoria }}">
        {% if producto.imagen %}
        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}"><br>
        {% else %}
        <img src="{% static 'images/porsinohay.jpg' %}" alt="{{ producto.nombre }}"><br>
        {% endif %}
        <div class="info">
            <h3>{{ producto.nombre }}</h3>
            <p>{{ producto.categoria }}</p>
            <div class="precio">
                <p>${{ producto.precio }}</p>
            </div>
            <div class="texto-centrado">
                {% if producto.en_carrito %}
                <a href="{% url 'Calas:Sub' producto.id %}" style="font-size:20px; width:20%" class="boton">-</a>
                <span class='info' style="font-size:20px">{{ producto.cantidad_en_carrito }}</span>
                <a href="{% url 'Calas:Add' producto.id %}" style="font-size:20px" class="boton">+</a>
                {% else %}
                <a href="{% url 'Calas:Add' producto.id %}" class="boton">Agregar al carrito</a>
                {% endif %}
                <br><br><br><br>
                <a class="boton" href="{% url 'Calas:prod_detalles' producto.id %}">Detalles de producto</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="paginacion">
</div>
<script src="{% static 'Calas/js/catalogo.js' %}"></script>
<script src="{% static 'Calas/js/cards.js' %}"></script>
{% comment %} <script src="{% static 'Calas/js/min.js' %}"></script> {% endcomment %}
{% endblock %}